<?xml version="1.0" encoding="UTF-8"?>  
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
    <persistence-unit name="DB2PU" transaction-type="RESOURCE_LOCAL">  
        
           <provider>org.hibernate.ejb.HibernatePersistence</provider>

            
           <!-- ************************* entity start *************************--> 
           <!-- afw --> 
           <class>mikeheke.tadpole.frm.afw.entity.Application</class>
           <class>mikeheke.tadpole.frm.afw.entity.ApplicationPlus</class>
           <class>mikeheke.tadpole.frm.afw.entity.BlackList</class>
           <class>mikeheke.tadpole.frm.afw.entity.Config</class>
           <class>mikeheke.tadpole.frm.afw.entity.Department</class>
           <class>mikeheke.tadpole.frm.afw.entity.Module</class>
           <class>mikeheke.tadpole.frm.afw.entity.Role</class>
           <class>mikeheke.tadpole.frm.afw.entity.RoleRight</class>
           <class>mikeheke.tadpole.frm.afw.entity.RoleUser</class>
           <class>mikeheke.tadpole.frm.afw.entity.Sequence</class>
           <class>mikeheke.tadpole.frm.afw.entity.UserProfile</class>
           
           <!-- bds -->
           <class>mikeheke.tadpole.frm.bds.entity.BdsSchemaInfor</class>
           <class>mikeheke.tadpole.frm.bds.entity.BdsXmlData</class>
            
           <!-- email -->
           <class>mikeheke.tadpole.frm.email.entity.EmailTemplate</class>
            
           <!-- exception --> 
           <class>mikeheke.tadpole.frm.exception.entity.ExceptionCfg</class>
           
           <!-- TimeingJob -->
           <class>mikeheke.tadpole.frm.job.entity.TimeingJob</class>
           
           <!-- logging -->
           <class>mikeheke.tadpole.frm.logging.entity.LogOperation</class>
           <class>mikeheke.tadpole.frm.logging.entity.LogPerformance</class>
           <class>mikeheke.tadpole.frm.logging.entity.LogSystem</class>
           
           <!-- query -->
           <class>mikeheke.tadpole.frm.query.entity.Button</class>
           <class>mikeheke.tadpole.frm.query.entity.DataCoding</class>
           <class>mikeheke.tadpole.frm.query.entity.From</class>
           <class>mikeheke.tadpole.frm.query.entity.GroupBy</class>
           <class>mikeheke.tadpole.frm.query.entity.OrderBy</class>
           <class>mikeheke.tadpole.frm.query.entity.Query</class>
           <class>mikeheke.tadpole.frm.query.entity.Select</class>
           <class>mikeheke.tadpole.frm.query.entity.SysTable</class>
           <class>mikeheke.tadpole.frm.query.entity.SysTableField</class>
           <class>mikeheke.tadpole.frm.query.entity.Where</class>
           
            <!-- report -->
            <class>mikeheke.tadpole.frm.report.entity.ReportCache</class>
            <class>mikeheke.tadpole.frm.report.entity.ReportInfo</class>
            <class>mikeheke.tadpole.frm.report.entity.ReportPara</class>
            <class>mikeheke.tadpole.frm.report.entity.ReportSql</class>
            
            <!-- sms -->
            <class>mikeheke.tadpole.frm.sms.entity.SmsTemplate</class>
            
            <!-- tag -->
            <class>mikeheke.tadpole.frm.tag.entity.TagFileUpload</class>
            <class>mikeheke.tadpole.frm.tag.file.entity.NewFileUploadTagEntity</class>
            <!-- ************************* entity end *************************--> 
            
            
           <properties>  
		    <property name="hibernate.dialect" value="org.hibernate.dialect.OracleDialect" />  
		    <property name="hibernate.connection.driver_class" value="oracle.jdbc.OracleDriver" />  
		    <property name="hibernate.connection.username" value="amway" />  
		    <property name="hibernate.connection.password" value="amway" />  
		    <property name="hibernate.connection.url" value="jdbc:oracle:thin:@127.0.0.1:21521:XE" />  
		    <property name="hibernate.max_fetch_depth" value="3" />  
		    <property name="hibernate.show_sql" value="true" />  
		    <!-- 
		    <property name="hibernate.hbm2ddl.auto" value="create-drop"/>  
		     -->
		   </properties>  
 
    </persistence-unit>
</persistence>